<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>

    <title>Hegardt.se</title>

    <!-- Load Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-5.3.3/css/bootstrap.css"/>
    <script type="text/javascript" src="/assets/libs/bootstrap-5.3.3/javascript/bootstrap.bundle.js"></script>

    <!-- Load Jquery 3.7.1 -->
    <script type="text/javascript" src="/assets/libs/jquery-3.7.1/javascript/jquery-3.7.1.min.js"></script>

    <!-- Load DataTables 2.1.8 -->
    <link rel="stylesheet" type="text/css" href="/assets/libs/datatables-2.1.8/css/datatables.min.css">
    <script type="text/javascript" src="/assets/libs/datatables-2.1.8/javascript/datatables.min.js"></script>

    <!-- Load FontAwesome 6.7.1 -->
    <link rel="stylesheet" type="text/css" href="/assets/libs/fontawesome-6.7.1/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/libs/fontawesome-6.7.1/css/solid.css">
    <link rel="stylesheet" type="text/css" href="/assets/libs/fontawesome-6.7.1/css/brands.css">

    <!-- Load custom stylesheets -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>

    <!-- Load custom JavaScript -->
    <script type="text/javascript" src="/assets/javascript/application.js"></script>
    <script type="text/javascript" src="/assets/javascript/main-layout.js"></script>
</head>

<body>
{{> navbar}}
    <div class="container-lg">
        {{{body}}}
    </div>
</body>
</html>
