
.edge {
  stroke-width: 4;
  stroke: #2c3e50;
}

.arrowhead {
  fill: #2c3e50;
}

.node {
  stroke-width: 4;
  fill: white;
}

.person-node.self {
  stroke: gold !important;
  stroke-dasharray: 10;
}

.person-node.woman {
  stroke: pink;
}

.person-node.man {
  stroke: dodgerblue;
}

.person-node.unknown {
  stroke: gainsboro;
}

.person-node-name {
  font-weight: bold;
  color: black;
  font-size: 14pt;
}

.person-node-date {
  font-size: 14pt;
  transform: translate(0, 50%);
}

.marriage-node {
  stroke: #2c3e50;
}

.marriage-node-date {
  font-size: 12pt;
  transform: translate(0, 50%);
}

.svg-container:hover{
  //border: solid #2c3e50 2px;
  outline: 2px solid rgba(0, 0, 0, 0.5);
  cursor: move;
}

.svg-button:hover {
  cursor: pointer;
}

.svg-button text {
  -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
