.person-info-sidebar .heading {
  font-size: 13pt;
  color: #282b09;
  font-weight: bold;
  alignment: right;
}

.person-info-sidebar .date {
  alignment: left;
  font-size: 12pt;
  margin-bottom: 5px;
}

.person-info-sidebar .location {
  font-size: 11pt;
  font-style: italic;
}

.person-info-sidebar {
    background-color: #f0f0f0;
    border-radius: 15px;
}