.info-heading {
  font-size: 14pt;
  color: #282b09;
  font-weight: bold;
  text-align: right;
}

.info-body {
  font-size: 12pt;
  line-height: 1.0;
  margin-bottom: 0.4em;
}

.sub-info-body {
  font-size: 11pt;
  font-style: italic;
}
