extends html_layout

block extra_head
    //script(src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer)

block content
    div(id="map", style={height: '100%'})

    p Hej och välkommen till släktforskningssidan för Hegardt-släkten! Detta är ett projekt som fortsätter på det
        a(href="/ansedel/") Peter Hegardt gjort med
        a(href="http://www.hegardt.se/disgen/html/")  hegardt.se.
    p Jag som har utvecklat den här sidan heter Sebastian Hegardt