doctype html

html(lang="sv")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= `${title}`
        // Load bootstrap css
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        // Load fontawesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
        // Load own stylesheet
        //link(rel="stylesheet" href="css/navbar.css")

        // Load bootstrap JavaScript
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")

        // Load own js
        script(src = "js/navbar.js")

        block extra_head

    body

        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="#") Hegardt.se
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent")
                span.navbar-toggler-icon

            div.collapse.navbar-collapse#navbarContent
                ul.navbar-nav.mr-auto#navList
                    li.nav-item.active
                        a.nav-link#navItemHome(href="/") Hem
                    li.nav-item
                        a.nav-link#navItemRegister(href="/register") Personregister
                    li.nav-item
                        a.nav-link#navItemMap(href="/karta") Karta
                div.dropdown
                    input.form-control.mr-sm-2#globalSearchBar(type="search" onkeyup="showResults(this.value)" role="combobox" placeholder="sök")
                    ul.dropdown-menu#searchResults(role="menu")
                button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Sök

        div(class="container")
            block content