extends html_layout

block extra_head
    //script(src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer)

block content
    div(id="map", style={height: '100%'})

    p hej
