doctype html

html
    head
        title= `${title}`
        // Load bootstrap css
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        // Load bootstrap JavaScript
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    body
        div.container.listing-reg
            block content