/* Global style for checkboxes */
input[type="checkbox"] {
    /* Bootstrap default styling */
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    accent-color: var(--vibrant-blue); /* This is the blue color that makes them stand out */
}

/* Global reusable classes */

.heg-rich-text {
    white-space: pre-wrap;
}

.scrolling-text-container {
    white-space: nowrap;
    overflow: hidden;
}

.scrolling-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.scrolling-text-container:hover .scrolling-text {
    max-width: none;
    animation: scroll-left 8s linear infinite;
    text-overflow: clip;
}

.pulse-focus {
    animation: pulse 2s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
}

/* Global reusable animations */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }
}